header {
    text-align: center;
}

img {
    max-width: 250px;
    max-height: 250px;
    /* margin-left: auto; */
}

main {
    max-width: 960px;
    margin: auto;
}

section {
    width: 30%;
    height: 375px;
    margin: 5px;
    /* float:left; */
}

button {
    /* clear: both; */
}

footer {
    /* clear:both; */
    height: 150px;
    line-height: 150px;
    text-align: center;
}